In [14]:
import scipy.stats as stats
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
df = pd.read_csv('Sales_add.csv')

In [16]:
df.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [17]:
# to check any null values in the dataset
df.isna().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [18]:
# numerical analysis of dataset
df.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [19]:
# The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.
# one sided test can be used 
#Ho = mean sales after stepping into digital marketing <= mean sales before stepping into digital marketing
#H1 = mean sales after stepping into digital marketing > mean sales before stepping into digital marketing
# let significance level is 5% 
alpha = 0.05

In [20]:
#calculating t score and p value 
T_score,p_value = stats.ttest_ind(df['Sales_After_digital_add(in $)'],df['Sales_before_digital_add(in $)'],alternative='greater')

In [26]:
if p_value<alpha:
    print('p_value = ',p_value,'\nalpha = ',alpha,'','Since p value is less than alpha we reject null hypothesis')
else:
    print('p_value = ',p_value,'\nalpha = ',alpha,'','since p value is more than alpha we cannot reject hypothesis')

p_value =  1.3071840034523225e-16
alpha =  0.05  Since p value is less than alpha we reject null hypothesis

In [27]:
# The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [28]:
# A chi-squared test can be used to find the dependency between the features 'Region' and 'Manager'.
# H0 :There is no dependency between the features “Region” and “Manager”.
# Alternative Hypothesis:
# H1 :There is a dependency between the features “Region” and “Manager”.

In [29]:
# #a frequnecy table is stored under the variable name crosstab
crosstab = pd.crosstab(df['Region'],df['Manager'])
crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [30]:
chi_squared_value,p_value1,dof,expected_values=stats.chi2_contingency(crosstab)

In [31]:
if p_value1<alpha:
    print('p_value = ',p_value1,'\nalpha = ',alpha,'\ndegrees of freedom = ',dof,"",'since, the p-value is lesser than the alpha, we can reject the null hypothesis')
else:
    print('p_value = ',p_value1,'\nalpha = ',alpha,'\ndegrees of freedom = ',dof,"",'since, the p-value is higher than the alpha value, we cannot reject the null hypothesis')

p_value =  0.5493991051158094
alpha =  0.05
degrees of freedom =  4  since, the p-value is higher than the alpha value, we cannot reject the null hypothesis